
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.logoContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.btnLogin{
  position: relative;
  right: 0;
}

